@font-face {
    font-family: GetDigital;
    font-style: normal;
    src: url("../font/DJBGetDigital.ttf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
    height:100%
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
img {
    max-width: 100%;
}
html {
    box-sizing: border-box;
    font-family: sans-serif;

    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height:100%
}
*, *:before,*:after {box-sizing: inherit;}
a {background-color: transparent;}
a:active, a:hover {outline: 0;}
b, strong {font-weight: bold;}
i, em, dfn {font-style: italic;}
h1 {margin: 0.67em 0;font-size: 2em;}
small {font-size: 80%;}
sub, sup {position: relative;font-size: 75%;line-height: 0;vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {border: 0;}
svg:not(:root) {
    overflow: hidden;
}
mark {
    background-color: #fdffb6;
}
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
    margin: 0; /* 3 */
    color: inherit; /* 1 */
    font: inherit; /* 2 */
}
button {
    overflow: visible;
    border: none;
}
button,
select {
    text-transform: none;
}
button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
    cursor: pointer; /* 3 */

    -webkit-appearance: button; /* 2 */
}
button[disabled],
html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input {
    line-height: normal;
}
input:focus {
    outline: none;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
input[type="search"] {
    box-sizing: content-box; /* 2 */

    -webkit-appearance: textfield; /* 1 */
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
legend {
    padding: 0; /* 2 */
    border: 0; /* 1 */
}
textarea {
    overflow: auto;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
td,
th {
    padding: 0;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    overflow: hidden;
    font-size: 62.5%;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
    overflow: hidden;
    color: color(var(--midgrey) l(-30%));
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1.6rem;
    line-height: 1.6em;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    text-rendering: optimizeLegibility;
    background: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
}

::selection {
    text-shadow: none;
    background: color(var(--blue) lightness(+30%));
}

hr {
    position: relative;
    display: block;
    width: 100%;
    margin: 2.5em 0 3.5em;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid color(var(--lightgrey) l(+10%));
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

textarea {
    resize: vertical;
}

p,
ul,
ol,
dl,
blockquote {
    margin: 0 0 1.5em 0;
}

ol,
ul {
    padding-left: 1.3em;
    padding-right: 1.5em;
}

ol ol,
ul ul,
ul ol,
ol ul {
    margin: 0.5em 0 1em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

ul,
ol {
    max-width: 100%;
}

li {
    margin: 0.5em 0;
    padding-left: 0.3em;
    line-height: 1.6em;
}

dt {
    float: left;
    margin: 0 20px 0 0;
    width: 120px;
    color: var(--darkgrey);
    font-weight: 500;
    text-align: right;
}

dd {
    margin: 0 0 5px 0;
    text-align: left;
}

blockquote {
    margin: 1.5em 0;
    padding: 0 1.6em 0 1.6em;
    border-left: var(--whitegrey) 0.5em solid;
}

blockquote p {
    margin: 0.8em 0;
    font-size: 1.2em;
    font-weight: 300;
}

blockquote small {
    display: inline-block;
    margin: 0.8em 0 0.8em 1.5em;
    font-size: 0.9em;
    opacity: 0.8;
}
/* Quotation marks */
blockquote small:before {
    content: "\2014 \00A0";
}

blockquote cite {
    font-weight: bold;
}
blockquote cite a {
    font-weight: normal;
}

a {
    color: color(var(--blue) l(-5%));
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    line-height: 1.15;
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

h1 {
    margin: 0 0 0.5em 0;
    font-size: 5.5rem;
    font-weight: 600;
}
@media (max-width: 500px) {
    h1 {
        font-size: 2.2rem;
    }
}

h2 {
    margin: 1.5em 0 0.5em 0;
    font-size: 2.2rem;
}
@media (max-width: 500px) {
    h2 {
        font-size: 1.8rem;
    }
}

h3 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.8rem;
    font-weight: 500;
}
@media (max-width: 500px) {
    h3 {
        font-size: 1.7rem;
    }
}

h4 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.6rem;
    font-weight: 500;
}

h5 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.4rem;
    font-weight: 500;
}

h6 {
    margin: 1.5em 0 0.5em 0;
    font-size: 1.4rem;
    font-weight: 500;
}

.container {
    padding:0;
    margin: 0 auto;
    width: 100%;
    min-width: 950px;
    max-width: 1370px;
    display: flex;
    flex-direction: row;
    height: 100%
}

.pd15 {padding:15px;}
.mb12 {margin-bottom: 14px}

.container > section {

}

.section-connection-panel {
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 25%;
    border-left: 1px solid #dddfe2
}

.server-ctl-btn-wrapper {}

.server-ctl-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    min-height: 40px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 1px 4px 0 rgba(12, 12, 13, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
    outline:0;
}

.server-ctl-btn .text {
    font-weight: 700;
    color: #fff;
}

[disabled].server-ctl-btn .text {
    display: none;
}

.server-ctl-btn .connecting {
    display: none;
    background-image: url(../image/loader.svg);
    width: 73px;
    height: 20px;
    background-size: 140px;
    background-position: 0;
}

[disabled].server-ctl-btn .connecting {
    display: block;
}

.server-conn-details-wrapper {
    -margin-top: 7rem;
    flex: 1 1 0;
}

ul.server-conn-details {
    padding: 0 !important;
}

ul.server-conn-details li{
    display: flex;
    margin-bottom: 25px;
    display: flex;
    padding:0 !important;
    align-items: center
}

ul.server-conn-details li .--icon {
    display: none;
    background-image: url(../image/aa.png);
    width: 52px;
    height: 50px;
    background-size: 40px;
    margin-right: 10px;
    background-repeat: no-repeat;
}


ul.server-conn-details li .--details {
    font-weight: 600;
}

ul.server-conn-details li .--details strong {
    font-size: 1.6rem;
    padding: 4px;
    display: block;
    outline: 0;
}

ul.server-conn-details li .--details span {
    color: #353535;
    font-size: 1.35rem;
    padding: 4px;
    display: block;
 
}

ul.server-conn-details li .--details .empty {
    display: block;
    width: 122px;
    height: 20px;
    margin: 6.5px 0;
    background-color: #e2e2e2c5;
    border-radius: 60px;
}

ul.server-conn-details li .--details .empty.l1 {
    width: 135px;
}

.section-server-updates {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    border-right: 1px;
    border-left: 1px;
    border-style: solid;
    border-color: var(--border-color)
}

.section-server-update-hd {
    position: relative;
    height: 55px;
    width: 100%;
    border-bottom: 1px solid #dddfe2
}

.section-server-update-hd strong {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600
}

.section-server-update-hd .connected {
    background-image: url(../image/connected.gif);
    width: 70px;
    height: 20px;
    background-size: 140px;
    background-position: -32px;
    background-repeat: no-repeat;
    position: absolute;
    right: 15px;
    top: 18px;
}

#server_updates {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex-wrap: nowrap;
}

#time_update {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    height: 170px;
    font-weight: 600
}

#time_update .time-update-title {
    font-size:1.5rem;

}

#time_update .time-update-wrapper {
    font-family: GetDigital;
    letter-spacing: 1px;
    flex: 1 1 0;
    margin-top: -35px;
    display: flex;
    font-size: 4.5rem;
    align-items: center;
    justify-content: center;
}

#time_update time {
    padding:6px;
}

.section-console-logs {
    display: flex;
    flex-direction: column;
    width: 30%;
    border-right: 1px solid var(--border-color)
}

#console_logs {
    overflow: auto;
    display: block;
    flex: 1 1 0;
}

#console_logs .--logs{
    display: flex;
    flex-direction: column;
    -justify-content: flex-end;
}

#console_logs .--log {
    display: flex;
    flex-direction: column;
    background-color: #a4d03730;
    min-height: 80px;
    width: 100%;
    border-radius: 8px;
}

#console_logs .--log.error {
    background-color: #f0523030;
}

#console_logs .--log .status {
    font-size:1.35rem;
    font-weight:600;
    text-transform: capitalize;
}

#console_logs .--log .data {
    flex: 1 1 0;
    font-size: 1.34rem;
}

#console_logs .--log .data a {
    color: #24ab0a;
    text-decoration: none;
    font-weight: 600;
    cursor:pointer;
}

#console_logs .--log time {
    font-size:1.30rem;
    font-weight:600;
    width: 100%;
    text-align: end;
    margin-bottom:-8px;
    letter-spacing: 1.5px;
}

.section-console-logs-ft {
    display: flex;
    height: 50px;
    border-top:1px solid var(--border-color);
    width:100%;
}

.section-console-logs-ft strong {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600
}

#root {height:100%;}

:root {
    /* Colours */
    --blue: #3eb0ef;
    --green: #4CAF50;
    --purple: #ad26b4;
    --yellow: #fecd35;
    --red: #F44336;
    --darkgrey: #15171A;
    --midgrey: #738a94;
    --lightgrey: #c5d2d9;
    --whitegrey: #e5eff5;
    --pink: #fa3a57;
    --brown: #a3821a;
    --border-color:#dddfe2;
    --darkmode: color(var(--darkgrey) l(+2%));
}